/* Base Styles */
body {
    margin: 0;
}
* {
    font-family: 'mr-eaves-sans', sans-serif;
    font-weight: 300;
}
p {
    font-size: 20px;
    margin: 0;
    padding: 0 10px;
    margin-bottom: 24px;
    line-height: 24px;
}
.content {
    padding: 20px 25px;
}
.modal-open {
    overflow: hidden;
}

/* Image Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 10px 0;
}
.grid-image img {
    display: block;
    width: 100%;
}
.grid-image {
    grid-column: span 6;
}
.grid-image:hover {
    cursor: zoom-in;
}

/* Lightbox Transition Classes */
.lightbox-enter-to,
.lightbox-leave-from {
  opacity: 1;
}
.lightbox-enter-from,
.lightbox-leave-to {
  opacity: 0;
}
.lightbox-enter-active,
.lightbox-leave-active {
  transition: all 0.5s ease;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .grid {
        padding: 30px 0;
        grid-gap: 12px;
    }
    .grid-image {
        grid-column: span 4;
    }
    .content {
        padding: 25px 40px;
    }
    p {
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (min-width: 850px) {
    .grid {
        padding: 40px 0;
    }
    .grid-image {
        grid-column: span 3;
    }
    .content {
        padding: 25px 60px;
        max-width: 950px;
        margin: 0 auto;
    }
    p {
        font-size: 24px;
        line-height: 28px;
    }
}
